body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

/* .rules{
  top: 70px;
  left:0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 80vh;
  height: 90vh;
  color:white;
  margin: 0 auto;
  position: absolute;
  background: rgba(400, 50, 90, .1); 
  border-radius: 10px;
  z-index: 2;
  text-align: center;
  border:1px solid  rgba(190,50, 90, .3); 
  text-align: center;
  align-items: center;
}
h2{
  background-color: rgb(139, 111, 177);
  width: 50vh;
  margin: 0 auto;
  border-radius: 10px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  opacity: 1;
 margin-bottom: 20px;
  height: 30px;
}
p{
padding: 20px;
 background: rgba(100, 190, 60, .5);
 width: 80%;
 margin: 0 auto;
 border-radius: 10px;
} */
